In [12]:
import os
print(os.path.basename(r'C:\Users\DELL\Downloads\BCCD.v3-bccd-v3.yolov5pytorch\test\labels\BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d7218c62bf3.txt'))

BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d7218c62bf3.txt

In [13]:
f = open(r"C:\Users\DELL\Downloads\BCCD.v3-bccd-v3.yolov5pytorch\test\labels\BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d7218c62bf3.txt", "r")
a = []
for x in f:
    a.append(int(x[0]))

In [14]:
print(a)

[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [15]:
from collections import Counter

In [16]:
z = Counter(a)

In [17]:
print(z)

Counter({1: 25, 0: 2, 2: 1})

In [34]:
with os.scandir(r"C:\Users\DELL\Downloads\BCCD.v3-bccd-v3.yolov5pytorch\test\labels") as entries:
    for entry in entries:
        a = []
        print(entry.name,end='')
        f = open(entry, "r")
        for x in f:
            a.append(int(x[0]))
        z = Counter(a) 
        #print(z)
        print("",z[0],z[1],z[2])

BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d7218c62bf3.txt 2 25 1
BloodImage_00044_jpg.rf.a45cc108a4db410c15dfb47b1a18340d.txt 5 13 2
BloodImage_00062_jpg.rf.4d3cd9f145044c39bb01dd73ff920103.txt 1 11 1
BloodImage_00090_jpg.rf.04325ebf61fbeebec96b1cc0634bf9d7.txt 2 12 1
BloodImage_00099_jpg.rf.0f5fc116d60f5137f50077baf3425e9e.txt 2 15 1
BloodImage_00112_jpg.rf.3c9391a322de9e35e56b0869619883af.txt 1 13 1
BloodImage_00113_jpg.rf.690d61d572daa52fb4a8f4d68d3ed352.txt 0 11 2
BloodImage_00120_jpg.rf.45dba1979f9ec81b2f3e4135a84e0411.txt 0 9 1
BloodImage_00133_jpg.rf.533ec02e1a75029317655a4afbd546e6.txt 1 9 0
BloodImage_00134_jpg.rf.7fcf321440c045d305897489a0e8b5a3.txt 2 0 1
BloodImage_00154_jpg.rf.84c114188f5e92bdeb0a330eae8e9e0b.txt 1 6 1
BloodImage_00160_jpg.rf.cd5e11c43744fac6cd86ffe485d51a89.txt 1 9 1
BloodImage_00190_jpg.rf.7956880983906bc33e9e20f0a0ede347.txt 1 12 1
BloodImage_00191_jpg.rf.a3f26b01dec3f28e14cf1e14aa3a40d2.txt 0 14 1
BloodImage_00204_jpg.rf.d5a9e8bc84955751ec043dbe0d364b73.txt 2 14 1
BloodImage_00227_jpg.rf.50dc96e5c4317d014b77414b217f469c.txt 0 11 1
BloodImage_00235_jpg.rf.aad76a783f97475d4adb3a88740cb643.txt 0 3 1
BloodImage_00241_jpg.rf.2dac29970eda2b33d510d5366eebab71.txt 0 6 1
BloodImage_00254_jpg.rf.22887f4504afce6b1cf2ce3d3c9fc0f8.txt 2 9 1
BloodImage_00265_jpg.rf.d0abeda12351614f370f3d5670443613.txt 0 10 1
BloodImage_00266_jpg.rf.c4a1403e099ec19826db7f13d3708254.txt 1 12 1
BloodImage_00275_jpg.rf.65e09ee5c994ab6a7e83e6e06a924a4a.txt 1 14 1
BloodImage_00278_jpg.rf.5f169b4fa3a54f55e191990508d40550.txt 2 12 1
BloodImage_00284_jpg.rf.fc8a7272a5cd265e347239ac4f960067.txt 0 10 1
BloodImage_00289_jpg.rf.21ce0366ca993fceea4700bf8849826f.txt 0 10 1
BloodImage_00301_jpg.rf.c09c672b0b7bc4572aa5196f88d2757c.txt 1 13 1
BloodImage_00302_jpg.rf.88df8d680157315c54aafdcec75053c4.txt 0 12 1
BloodImage_00325_jpg.rf.a22d27a2779f0dc4dff88503ab928d49.txt 3 11 1
BloodImage_00334_jpg.rf.db5357e61a279a636d0a54efdc808673.txt 0 10 1
BloodImage_00336_jpg.rf.c018ccd31a95ae98c423dbd1055bc114.txt 0 10 1
BloodImage_00337_jpg.rf.43ed948f0cdcf288eab35fbad41e733b.txt 0 13 1
BloodImage_00350_jpg.rf.3bdd7c82f2822380e2fc5c5d0b93fa24.txt 0 0 1
BloodImage_00359_jpg.rf.16c01e5d87b5242cd6c1b66d2cb6fa6a.txt 0 14 1
BloodImage_00369_jpg.rf.0257bdc83aa131367f6f73dff974fb2f.txt 2 17 1
BloodImage_00385_jpg.rf.655fb467c0405b2ca115332234eb9935.txt 3 14 1
BloodImage_00386_jpg.rf.739d1ed133ae9a76e0f9469fd0172e9d.txt 0 14 1

In [87]:
import pandas as pd
file = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\v5l.txt",sep=' ')
print(file.head())
#file.to_csv('Actual.csv')

   image  1/36  \
0  image  2/36
1  image  3/36
2  image  4/36
3  image  5/36
4  image  6/36

  /content/test/images/BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d7218c62bf3.jpg:  \
0  /content/test/images/BloodImage_00044_jpg.rf.a...
1  /content/test/images/BloodImage_00062_jpg.rf.4...
2  /content/test/images/BloodImage_00090_jpg.rf.0...
3  /content/test/images/BloodImage_00099_jpg.rf.0...
4  /content/test/images/BloodImage_00112_jpg.rf.3...

   416x416  2  Plateletss,  37  RBCs,  1  WBCs,  Done.  (0.025s)
0  416x416  5  Plateletss,  31  RBCs,  2  WBCs,  Done.  (0.024s)
1  416x416  2  Plateletss,  25  RBCs,  1  WBCs,  Done.  (0.024s)
2  416x416  4  Plateletss,  32  RBCs,  2  WBCs,  Done.  (0.021s)
3  416x416  2  Plateletss,  26  RBCs,  1  WBCs,  Done.  (0.020s)
4  416x416  1  Plateletss,  31  RBCs,  1  WBCs,  Done.  (0.020s)

In [90]:
print(file.columns)

Index(['2', '37', '1'], dtype='object')

In [89]:
file.drop(file.columns[[0,1,2,3,5,7,9,10,11]],axis=1,inplace=True)

In [91]:
file.head()

   2  37  1
0  5  31  2
1  2  25  1
2  4  32  2
3  2  26  1
4  1  31  1

In [93]:
file.to_csv('v5l.csv')

In [5]:
import pandas as pd
df = pd.read_excel(r"C:\Users\DELL\OneDrive\Desktop\Book1.xlsx")
print(df.head())

   Unnamed: 0                                          File_name  A_Platelet  \
0           1  BloodImage_00038_jpg.rf.645fc3a754cf6ed5142f2d...           2
1           2  BloodImage_00044_jpg.rf.a45cc108a4db410c15dfb4...           5
2           3  BloodImage_00062_jpg.rf.4d3cd9f145044c39bb01dd...           1
3           4  BloodImage_00090_jpg.rf.04325ebf61fbeebec96b1c...           2
4           5  BloodImage_00099_jpg.rf.0f5fc116d60f5137f50077...           2

   v5s  v5m  v5l  A_RBC  v5s.1  v5m.1  v5l.1  A_WBC  v5s.2  v5m.2  v5l.2
0    1    2    2     25     38     39     37      1      1      1      1
1    6    5    5     13     32     33     31      2      2      2      2
2    3    2    2     11     26     29     25      1      1      1      1
3    4    4    4     12     28     31     32      1      1      1      2
4    2    5    2     15     24     25     26      1      1      1      1

In [11]:
df.drop(df.columns[[0]],axis=1,inplace=True)

In [12]:
df.head()

,A_Platelet,v5s,v5m,v5l,A_RBC,v5s.1,v5m.1,v5l.1,A_WBC,v5s.2,v5m.2,v5l.2
0,2,1,2,2,25,38,39,37,1,1,1,1
1,5,6,5,5,13,32,33,31,2,2,2,2
2,1,3,2,2,11,26,29,25,1,1,1,1
3,2,4,4,4,12,28,31,32,1,1,1,2
4,2,2,5,2,15,24,25,26,1,1,1,1

In [13]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

In [17]:
print(f1_score(df.A_Platelet, df.v5s,average='micro'))
print(precision_score(df.A_Platelet, df.v5s,average='micro'))
print(recall_score(df.A_Platelet, df.v5s,average='micro'))

0.4444444444444444
0.4444444444444444
0.4444444444444444

In [33]:
print(accuracy_score(df.A_WBC, df['v5s.2']))
print(accuracy_score(df.A_WBC, df['v5m.2']))
print(accuracy_score(df.A_WBC, df['v5l.2']))

0.8055555555555556
0.8333333333333334
0.8055555555555556

In [35]:
print(accuracy_score(df.A_RBC, df['v5s.1']))
print(accuracy_score(df.A_RBC, df['v5m.1']))
print(accuracy_score(df.A_RBC, df['v5l.1']))

0.0
0.0
0.0